.input {
  width: 310px;
  height: 30px;
  padding: 5px 20px;
  font-size: 16px;
  border: none;
  outline: none;
  border: black solid 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: 10px;
}

.searchBtn {
  color: grey;
  background-color: white;
  border: black solid 1px;
  outline: none;
  width: 100px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
